@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
:root {
  --primary-color: #4f46e5;
  --secondary-color: #eef2ff;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
.project-body {
  background: var(--secondary-color);
}
.navigation {
  margin: auto;
  max-width: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-name {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
  font-family: "Satisfy", cursive;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.list-non-bullet {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.nav-pills {
  text-align: right;
  padding: 0rem 1.5rem;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.link-active {
  font-weight: bold;
}

.header {
  padding: 0.5rem;
}

.header-image {
  display: block;
  margin: auto;
  max-width: 80%;
  width: 500px;
}

.hero-text {
  text-align: center;
}

.section {
  margin: auto;
  max-width: 80%;
}
.item-section {
  background: var(--secondary-color);
  border-radius: 15px;
  padding: 1.5rem;
  margin: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.item-section-ow {
  background-color: white;
  padding: 1.5rem;
  margin: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.item-section > h1,
p {
  text-align: center;
}
.item-section-ow > h1,
p {
  text-align: center;
}

.link-primary {
  display: block;
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
  text-align: center;
}

.link-secondary {
  display: block;
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  margin: 1rem auto;
  border-radius: 2rem;
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  max-width: 80%;
  padding: 2rem 0rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.footer > h3,
ul {
  text-align: center;
}

/* css for projects */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > h1 {
  text-align: center;
  max-width: 80%;
}
.sp {
  color: var(--primary-color);
}

.project-list {
  margin: 0rem 0.5rem;
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-list-item {
  position: relative;
  margin: 0.5rem;
}
.project-item-details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5rem 0rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
}
.img-project {
  border-radius: 5%;
  object-fit: cover;
}
.title {
  margin: 0.5rem;
  color: var(--secondary-color);
  padding: 0;
}
.link-github,
.link-preview {
  color: var(--primary-color);
  background-color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin: 0rem 0.5rem;
  font-weight: bold;
}
